header {
    background-color: black;
    color: #E8FDFF;
}

body {
    background-color: black;
    font-family: "Rokkitt", ;
    /* font-family: "Honk", system-ui; */
    /* font-family: "Bungee Spice", sans-serif; */
}

header {
    font-family: "Bungee Spice", sans-serif;
}

main {
    background-color: rgb(162, 236, 229);
    padding: 25px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo {    
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
}

.user-info h2:hover {
    font-family: "Bungee Spice", sans-serif;
}

.user-info h2:active {
    font-family: "Honk", system-ui;
}


.form-group {
    color: black
}

.form-group button {
    color: black
}

.errors {
    color: white
}

/* 
  Media Queries go on the bottom of your stylesheet

  Desktop-first: max-widths in DESC
  Mobile-first: min-widths in ASC
*/

@media screen and (max-width: 768px) {
    main {
      width: 70%;
    } 
  }
  
  @media screen and (max-width: 480px) {
    main {
      width: 95%;
    } 
  
    .user-info h2 {
      font-size: 1.1em;
    }
  
    .user-info h3,
    .actions,
    p {
      font-size: 0.9em;
    }
  }

  .button-heart{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: grey;
    border: none;
  }

  .button-heart:before{
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 18px;
    height: 18px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: grey
  }

.button-heart:before,
.button-heart:after{
  position: absolute;
  width: 18px;
  height: 18px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: grey;
}
.button-heart:before{
  bottom: 0px;
  left: -10px;
}
.button-heart:after{
  top: -10px;
  right: 0px;
}

.button-heart{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 15px;
  }

  .button-heart-like{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: red;
    border: none;
  }

  .button-heart-like:before{
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 18px;
    height: 18px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: red;
  }

.button-heart-like:before,
.button-heart-like:after{
  position: absolute;
  width: 18px;
  height: 18px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: red;
}
.button-heart-like:before{
  bottom: 0px;
  left: -10px;
}
.button-heart-like:after{
  top: -10px;
  right: 0px;
}

.button-heart-like{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 15px;
  }

.warning{
    color: red
}