

<ul class="errors", color = white >

    <%= @error_message if @error_message %>

</ul>

<h2>Login to Finstagram</h2>

<form class = "form-group" method = "POST" action = "/login">
    
    <div class = "form-group">

        <label for = "username"> Username </label>
        <input type = "text" id = "username" name = "username">

    </div>

    <div class = "form-group">

        <label for = "password"> Password </label>
        <input type = "password" id = "password" name = "password">

    </div>

    <div class = "form-group">

        <button class = "button" type = "submit"> Login </button>
        
    </div>

</form>


